    @font-face {
      font-family: "BibliotecaPlandi";
      src: url("fonts/Palanquin-Regular.ttf");
    }

    @font-face {
      font-family: "BibliotecaPlandiBold";
      src: url("/css/fonts/Palanquin-Bold.ttf");
    }
  

body{
	background-image:url("images/fondo.jpg");
	font-family: BibliotecaPlandi, serif;
	color: #a1a1a1;
	overflow: hidden;
    background-size: cover;
}


.btnCerrar:hover{
	color: #00CBED;
}

.btnCerrar:action{
	color: #00868A;
}

.btnMinimizar:hover{
	color: #B4E000;
}

.btnMinimizar:action{
	color: #00C17D;
}


	.tituloBibliotecaVirtual{
	  margin-left: 1em;
	  /* margin-top: 1em; */
	  padding-bottom: 0.5em;
	  color: white;
	  text-align: center;
	}


.barraEstado{
  /* background: url(../images/peca.png); */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  /*background-color: #003948;*/
   height: 90px;
      
      background: #00a9bc; /* Old browsers */
      background: -moz-linear-gradient(top,  #00a9bc 0%, #009a90 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #00a9bc 0%,#009a90 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #00a9bc 0%,#009a90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9bc', endColorstr='#009a90',GradientType=0 ); /* IE6-9 */
}

.lineaVerde{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57b125+0,8cc919+100 */
      height: 5px;
      background: #57b125; /* Old browsers */
      
      background: -moz-linear-gradient(top,  #57b125 0%, #8cc919 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #57b125 0%,#8cc919 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #57b125 0%,#8cc919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b125', endColorstr='#8cc919',GradientType=0 ); /* IE6-9 */
}
.selected{
	background-color: #5eb034;
}


#nombreLibro{
  text-align: center;
  margin-left: 0em;
    color: #606060;
}


.txtArea{
	color: #00BAC2;
	  font-weight: bold;
}

.selectAC{
	border-bottom: solid gray; 
}

.footer{
  border-top: solid white;
  background-color: #bdcad2;
}

.textBuscar{
	  margin-top: 0.7em;
}

.areasConnocimiento{
	  border-bottom:  solid white;
	  background-color: #D8D8D8;
	  z-index: 1;
}





#contMaterias2{
	  margin-top: 1em;
}




::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px ; 
    background-color: #a1a1a1;
}





.iconoAnglo{
  width: 6em;
  margin-top: -0.4em;
}

.iconoPlandi{
  width: 10em;
  margin-top: -0.1em;	
}

.txtBuscar{
  width: 70%;
  margin-left: 10%;	
}

.descripcion{
	  padding: 1em;
}

.btnWindow{
	    font-size: 2em;
  margin-top: 1em;
}

.btnTodos{
	  margin-top: 3em;
}

.msgVPND{
  width: 97%;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

.imgPortada{
  width: 21em;
  margin-left: 2em;	
}


	.contLibros{
  float: left;
  width: 100%;
  height: 31em;
  /* border: solid 1px; */
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
	}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.btnatras{
  float: left;
  margin-top: 25px;
  margin-left: 161px;
  cursor: pointer;
}